openapi: 3.0.2
info:
  description: This API Specification is designed to provide technical guidance required
    to consume and integrate with our APIs for payment processing.
  title: Payments
  version: v1.2.0
servers:
- description: Production
  url: https://prod.api.fiservapps.com/ch/
- description: Sandbox
  url: https://cert.api.fiservapps.com/ch/
paths:
  /payments/v1/charges:
    post:
      description: Use this payload to originate a financial transaction based on
        the <code>captureFlag</code> <i>false</i> (Auth) or <i>true</i> (Sale). A
        sale will authorize and charge (withdrawal) the customer funds. An auth (pre-authorization)
        will hold the customer funds and will need to be captured to settle (withdrawal)
        the funds. A <a href="../docs?path=docs/Resources/API-Documents/Payments/Capture.md">capture</a>
        can be performed by sending the <code>captureFlag</code> along with a <a href="../docs?path=docs/Resources/Master-Data/Reference-Transaction-Details.md">transaction
        identifier</a> on a subsequent charge request.
      parameters:
      - description: The content type. Valid value (application/json).
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
        x-model-version: 1.0
      - description: "A client-generated ID for request tracking and signature creation,\
          \ unique per request. This is also used for idempotency control. Recommended\
          \ 128-bit UUID format."
        explode: false
        in: header
        name: Client-Request-Id
        required: true
        schema:
          default: Client-Request-Id
          type: string
        style: simple
        x-model-version: 1.0
      - description: API key provided to the merchant associating the requests with
          the appropriate app in the Developer Portal.
        explode: false
        in: header
        name: Api-Key
        required: true
        schema:
          default: Api-Key
          type: string
        style: simple
        x-model-version: 1.0
      - description: Epoch timestamp in milliseconds in the request from a client
          system. Used for authorization header generation and time limit (5 minutes).
        explode: false
        in: header
        name: Timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-model-version: 1.0
      - description: The Accept Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. For example en-US or
          fr-CA.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: Accept-Language
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Indicates authorization type HMAC, JWT, or AccessToken."
        explode: false
        in: header
        name: Auth-Token-Type
        required: true
        schema:
          default: Auth-Token-Type
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Authorization header used to ensure the request has not been\
          \ tampered with during transmission. Valid encryption; HMAC, JWT, or AccessToken.\
          \ For more information, refer to the supporting documentation on the Developer\
          \ Portal."
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Authorization
          type: string
        style: simple
        x-model-version: 1.0
      - description: Needed only from customer browser or app to the API in Hosted
          Payment Page requests.
        explode: false
        in: header
        name: Message-Digest
        required: false
        schema:
          default: Message-Digest
          type: string
        style: simple
        x-model-version: 1.0
      requestBody:
        content:
          application/json:
            examples:
              PaymentCard:
                $ref: '#/components/examples/PaymentCardRequest'
              PaymentCard-Encrypted:
                $ref: '#/components/examples/PaymentCardEncryptedRequest'
              PaymentEMV:
                $ref: '#/components/examples/PaymentEMVRequest'
              PaymentTrack:
                $ref: '#/components/examples/PaymentTrackRequest'
              ManualEntry:
                $ref: '#/components/examples/ManualEntryRequest'
              ApplePay:
                $ref: '#/components/examples/ApplePayRequest'
              GooglePay:
                $ref: '#/components/examples/GooglePayRequest'
              Payment3DS:
                $ref: '#/components/examples/Payment3DSRequest'
              PaymentToken:
                $ref: '#/components/examples/PaymentTokenRequest'
              PaymentSession:
                $ref: '#/components/examples/PaymentSessionRequest'
            schema:
              $ref: '#/components/schemas/ChargesRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                PaymentCard:
                  $ref: '#/components/examples/PaymentCardChargesResponse'
                PaymentCard-Encrypted:
                  $ref: '#/components/examples/PaymentCardRequest'
                PaymentEMV:
                  $ref: '#/components/examples/PaymentEMVChargesResponse'
                PaymentTrack:
                  $ref: '#/components/examples/PaymentTrackChargesResponse'
                ManualEntry:
                  $ref: '#/components/examples/ManualEntryChargesResponse'
                ApplePay:
                  $ref: '#/components/examples/ApplePayChargesResponse'
                GooglePay:
                  $ref: '#/components/examples/GooglePayChargesResponse'
                Payment3DS:
                  $ref: '#/components/examples/Payment3DSChargesResponse'
                PaymentToken:
                  $ref: '#/components/examples/PaymentTokenChargesResponse'
                PaymentSession:
                  $ref: '#/components/examples/PaymentCardChargesResponse'
              schema:
                $ref: '#/components/schemas/ChargesResponse'
          description: Created
        "400":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  code: "105"
                  field: amount.currency
                  message: Invalid amount or currency
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request cannot be validated.
          x-model-version: 1.0
        "401":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: ApiKey and/or Authentication supplied are invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was unauthorized.
          x-model-version: 1.0
        "404":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
          x-model-version: 1.0
        "408":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Broken client connectivity.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was timed out due to not receiving the request
            in time.
          x-model-version: 1.0
        "415":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Media type is not supported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The media type is not supported.
          x-model-version: 1.0
        "425":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  message: The request was sent too early.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was sent too early.
          x-model-version: 1.0
        "429":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Request volume is too high.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many request were sent.
          x-model-version: 1.0
        "500":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: Error sending request to Transarmor.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected internal server error occurred.
          x-model-version: 1.0
        "503":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: APIM
                    message: Service unavailable.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The service was unavailable.
          x-model-version: 1.0
        "504":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: The request timed out while waiting for the response.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request timed out while waiting for a response.
          x-model-version: 1.0
      summary: Submit a charge transaction.
      tags:
      - Payment Endpoint Definition
      x-group-name: Payments
      x-proxy-name: Charges
      x-default-example: PaymentCard
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Payment Endpoint Definition
    x-model-version: 1.0
  /payments/v1/cancels:
    post:
      description: Use this payload to perform cancel a transaction (aka void).
      parameters:
      - description: The content type. Valid value (application/json).
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
        x-model-version: 1.0
      - description: "A client-generated ID for request tracking and signature creation,\
          \ unique per request. This is also used for idempotency control. Recommended\
          \ 128-bit UUID format."
        explode: false
        in: header
        name: Client-Request-Id
        required: true
        schema:
          default: Client-Request-Id
          type: string
        style: simple
        x-model-version: 1.0
      - description: API key provided to the merchant associating the requests with
          the appropriate app in the Developer Portal.
        explode: false
        in: header
        name: Api-Key
        required: true
        schema:
          default: Api-Key
          type: string
        style: simple
        x-model-version: 1.0
      - description: Epoch timestamp in milliseconds in the request from a client
          system. Used for authorization header generation and time limit (5 minutes).
        explode: false
        in: header
        name: Timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-model-version: 1.0
      - description: The Accept Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. For example en-US or
          fr-CA.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: Accept-Language
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Indicates authorization type HMAC, JWT, or AccessToken."
        explode: false
        in: header
        name: Auth-Token-Type
        required: true
        schema:
          default: Auth-Token-Type
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Authorization header used to ensure the request has not been\
          \ tampered with during transmission. Valid encryption; HMAC, JWT, or AccessToken.\
          \ For more information, refer to the supporting documentation on the Developer\
          \ Portal."
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Authorization
          type: string
        style: simple
        x-model-version: 1.0
      - description: Needed only from customer browser or app to the API in Hosted
          Payment Page requests.
        explode: false
        in: header
        name: Message-Digest
        required: false
        schema:
          default: Message-Digest
          type: string
        style: simple
        x-model-version: 1.0
      requestBody:
        content:
          application/json:
            examples:
              merchantTransactionId:
                $ref: '#/components/examples/SecondaryRequestWithReferenceMerchantTransactionId'
              transactionId:
                $ref: '#/components/examples/SecondaryRequestWithReferenceTransactionId'
            schema:
              $ref: '#/components/schemas/CancelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                merchantTransactionId:
                  $ref: '#/components/examples/CancelResponse'
                transactionId:
                  $ref: '#/components/examples/CancelResponse'
              schema:
                $ref: '#/components/schemas/CancelResponse'
          description: Success
        "400":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  code: "105"
                  field: amount.currency
                  message: Invalid amount or currency
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request cannot be validated.
          x-model-version: 1.0
        "401":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: ApiKey and/or Authentication supplied are invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was unauthorized.
          x-model-version: 1.0
        "404":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
          x-model-version: 1.0
        "408":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Broken client connectivity.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was timed out due to not receiving the request
            in time.
          x-model-version: 1.0
        "415":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Media type is not supported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The media type is not supported.
          x-model-version: 1.0
        "425":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  message: The request was sent too early.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was sent too early.
          x-model-version: 1.0
        "429":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Request volume is too high.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many request were sent.
          x-model-version: 1.0
        "500":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: Error sending request to Transarmor.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected internal server error occurred.
          x-model-version: 1.0
        "503":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: APIM
                    message: Service unavailable.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The service was unavailable.
          x-model-version: 1.0
        "504":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: The request timed out while waiting for the response.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request timed out while waiting for a response.
          x-model-version: 1.0
      summary: Submit a cancel transaction.
      tags:
      - Cancel Endpoint Definition
      x-group-name: Payments
      x-proxy-name: Cancels
      x-default-example: transactionId
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Cancel Endpoint Definition
    x-model-version: 1.1
  /payments/v1/refunds:
    post:
      description: Use this payload to perform a partial or full refund (aka credit/return).
        This will return funds to the customer.
      requestBody:
        content:
          application/json:
            examples:
              merchantTransactionId:
                $ref: '#/components/examples/SecondaryRequestWithReferenceMerchantTransactionId'
              transactionId:
                $ref: '#/components/examples/SecondaryRequestWithReferenceTransactionId'
            schema:
              $ref: '#/components/schemas/RefundRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                merchantTransactionId:
                  $ref: '#/components/examples/RefundResponse'
                transactionId:
                  $ref: '#/components/examples/RefundResponse'
              schema:
                $ref: '#/components/schemas/RefundResponse'
          description: Created
        "400":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  code: "105"
                  field: amount.currency
                  message: Invalid amount or currency
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request cannot be validated.
          x-model-version: 1.0
        "401":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: ApiKey and/or Authentication supplied are invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was unauthorized.
          x-model-version: 1.0
        "404":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
          x-model-version: 1.0
        "408":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Broken client connectivity.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was timed out due to not receiving the request
            in time.
          x-model-version: 1.0
        "415":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Media type is not supported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The media type is not supported.
          x-model-version: 1.0
        "425":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  message: The request was sent too early.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was sent too early.
          x-model-version: 1.0
        "429":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Request volume is too high.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many request were sent.
          x-model-version: 1.0
        "500":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: Error sending request to Transarmor.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected internal server error occurred.
          x-model-version: 1.0
        "503":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: APIM
                    message: Service unavailable.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The service was unavailable.
          x-model-version: 1.0
        "504":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: The request timed out while waiting for the response.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request timed out while waiting for a response.
          x-model-version: 1.0
      summary: Submit a refund transaction.
      tags:
      - Refund Endpoint Definition
      x-group-name: Payments
      x-proxy-name: Refund
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Refund Endpoint Definition
    x-model-version: 1.0
  /payments-vas/v1/accounts/verification:
    post:
      description: Use this payload to perform an account verification for a payment
        card or payment token. This will check the validity and respond if an account
        is valid or not.
      parameters:
      - description: The content type. Valid value (application/json).
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
        x-model-version: 1.0
      - description: "A client-generated ID for request tracking and signature creation,\
          \ unique per request. This is also used for idempotency control. Recommended\
          \ 128-bit UUID format."
        explode: false
        in: header
        name: Client-Request-Id
        required: true
        schema:
          default: Client-Request-Id
          type: string
        style: simple
        x-model-version: 1.0
      - description: API key provided to the merchant associating the requests with
          the appropriate app in the Developer Portal.
        explode: false
        in: header
        name: Api-Key
        required: true
        schema:
          default: Api-Key
          type: string
        style: simple
        x-model-version: 1.0
      - description: Epoch timestamp in milliseconds in the request from a client
          system. Used for authorization header generation and time limit (5 minutes).
        explode: false
        in: header
        name: Timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-model-version: 1.0
      - description: The Accept Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. For example en-US or
          fr-CA.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: Accept-Language
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Indicates authorization type HMAC, JWT, or AccessToken."
        explode: false
        in: header
        name: Auth-Token-Type
        required: true
        schema:
          default: Auth-Token-Type
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Authorization header used to ensure the request has not been\
          \ tampered with during transmission. Valid encryption; HMAC, JWT, or AccessToken.\
          \ For more information, refer to the supporting documentation on the Developer\
          \ Portal."
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Authorization
          type: string
        style: simple
        x-model-version: 1.0
      - description: Needed only from customer browser or app to the API in Hosted
          Payment Page requests.
        explode: false
        in: header
        name: Message-Digest
        required: false
        schema:
          default: Message-Digest
          type: string
        style: simple
        x-model-version: 1.0
      requestBody:
        content:
          application/json:
            examples:
              PaymentCard:
                $ref: '#/components/examples/PaymentCardVerifyRequest'
              PaymentEMV:
                $ref: '#/components/examples/PaymentEMVVerifyRequest'
              PaymentTrack:
                $ref: '#/components/examples/PaymentTrackVerifyRequest'
              ManualEntry:
                $ref: '#/components/examples/ManualEntryVerifyRequest'
              PaymentToken:
                $ref: '#/components/examples/PaymentTokenVerifyRequest'
            schema:
              $ref: '#/components/schemas/AccountVerificationRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                PaymentCard:
                  $ref: '#/components/examples/PaymentCardVerifyResponse'
                PaymentEMV:
                  $ref: '#/components/examples/PaymentEMVVerifyResponse'
                PaymentTrack:
                  $ref: '#/components/examples/PaymentTrackVerifyResponse'
                ManualEntry:
                  $ref: '#/components/examples/ManualEntryVerifyResponse'
                PaymentToken:
                  $ref: '#/components/examples/PaymentTokenVerifyResponse'
              schema:
                $ref: '#/components/schemas/AccountVerificationResponse'
          description: Created
        "400":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  code: "105"
                  field: amount.currency
                  message: Invalid amount or currency
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request cannot be validated.
          x-model-version: 1.0
        "401":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: ApiKey and/or Authentication supplied are invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was unauthorized.
          x-model-version: 1.0
        "404":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
          x-model-version: 1.0
        "408":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Broken client connectivity.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was timed out due to not receiving the request
            in time.
          x-model-version: 1.0
        "415":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Media type is not supported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The media type is not supported.
          x-model-version: 1.0
        "425":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  message: The request was sent too early.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was sent too early.
          x-model-version: 1.0
        "429":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Request volume is too high.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many request were sent.
          x-model-version: 1.0
        "500":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: Error sending request to Transarmor.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected internal server error occurred.
          x-model-version: 1.0
        "503":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: APIM
                    message: Service unavailable.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The service was unavailable.
          x-model-version: 1.0
        "504":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: The request timed out while waiting for the response.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request timed out while waiting for a response.
          x-model-version: 1.0
      summary: Verify a payment card or payment token.
      tags:
      - Account  Verification Endpoint Definition
      x-group-name: Payments VAS
      x-proxy-name: Verification
      x-default-example: PaymentCard
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Account  Verification Endpoint Definition
    x-model-version: 1.0
  /payments-vas/v1/tokens:
    post:
      description: Use this payload to create a payment token from a payment source.
      parameters:
      - description: The content type. Valid value (application/json).
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
        x-model-version: 1.0
      - description: "A client-generated ID for request tracking and signature creation,\
          \ unique per request. This is also used for idempotency control. Recommended\
          \ 128-bit UUID format."
        explode: false
        in: header
        name: Client-Request-Id
        required: true
        schema:
          default: Client-Request-Id
          type: string
        style: simple
        x-model-version: 1.0
      - description: API key provided to the merchant associating the requests with
          the appropriate app in the Developer Portal.
        explode: false
        in: header
        name: Api-Key
        required: true
        schema:
          default: Api-Key
          type: string
        style: simple
        x-model-version: 1.0
      - description: Epoch timestamp in milliseconds in the request from a client
          system. Used for authorization header generation and time limit (5 minutes).
        explode: false
        in: header
        name: Timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-model-version: 1.0
      - description: The Accept Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. For example en-US or
          fr-CA.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: Accept-Language
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Indicates authorization type HMAC, JWT, or AccessToken."
        explode: false
        in: header
        name: Auth-Token-Type
        required: true
        schema:
          default: Auth-Token-Type
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Authorization header used to ensure the request has not been\
          \ tampered with during transmission. Valid encryption; HMAC, JWT, or AccessToken.\
          \ For more information, refer to the supporting documentation on the Developer\
          \ Portal."
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Authorization
          type: string
        style: simple
        x-model-version: 1.0
      - description: Needed only from customer browser or app to the API in Hosted
          Payment Page requests.
        explode: false
        in: header
        name: Message-Digest
        required: false
        schema:
          default: Message-Digest
          type: string
        style: simple
        x-model-version: 1.0
      requestBody:
        content:
          application/json:
            examples:
              PaymentCard:
                $ref: '#/components/examples/PaymentCardTokenRequest'
              PaymentEMV:
                $ref: '#/components/examples/PaymentEMVTokenRequest'
              PaymentTrack:
                $ref: '#/components/examples/PaymentTrackTokenRequest'
              ManualEntry:
                $ref: '#/components/examples/ManualEntryTokenRequest'
              ApplePay:
                $ref: '#/components/examples/ApplePayTokenRequest'
              GooglePay:
                $ref: '#/components/examples/GooglePayTokenRequest'
              Payment3DS:
                $ref: '#/components/examples/Payment3DSTokenRequest'
              PaymentSession:
                $ref: '#/components/examples/PaymentSessionTokenRequest'
            schema:
              $ref: '#/components/schemas/TokenizationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                PaymentCard:
                  $ref: '#/components/examples/PaymentCardTokenResponse'
                PaymentEMV:
                  $ref: '#/components/examples/PaymentEMVTokenResponse'
                PaymentTrack:
                  $ref: '#/components/examples/PaymentTrackTokenResponse'
                ManualEntry:
                  $ref: '#/components/examples/ManualEntryTokenResponse'
                ApplePay:
                  $ref: '#/components/examples/ApplePayTokenResponse'
                GooglePay:
                  $ref: '#/components/examples/GooglePayTokenResponse'
                Payment3DS:
                  $ref: '#/components/examples/Payment3DSTokenResponse'
                PaymentSession:
                  $ref: '#/components/examples/PaymentCardTokenResponse'
              schema:
                $ref: '#/components/schemas/TokenizationResponse'
          description: Success.
        "400":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  code: "105"
                  field: amount.currency
                  message: Invalid amount or currency
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request cannot be validated.
          x-model-version: 1.0
        "401":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: ApiKey and/or Authentication supplied are invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was unauthorized.
          x-model-version: 1.0
        "404":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
          x-model-version: 1.0
        "408":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Broken client connectivity.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was timed out due to not receiving the request
            in time.
          x-model-version: 1.0
        "415":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Media type is not supported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The media type is not supported.
          x-model-version: 1.0
        "425":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  message: The request was sent too early.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was sent too early.
          x-model-version: 1.0
        "429":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Request volume is too high.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many request were sent.
          x-model-version: 1.0
        "500":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: Error sending request to Transarmor.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected internal server error occurred.
          x-model-version: 1.0
        "503":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: APIM
                    message: Service unavailable.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The service was unavailable.
          x-model-version: 1.0
        "504":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: The request timed out while waiting for the response.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request timed out while waiting for a response.
          x-model-version: 1.0
      summary: Create a payment token.
      x-group-name: Payments VAS
      x-proxy-name: Tokenization
      x-default-example: PaymentCard
      x-content-type: application/json
      x-accepts: application/json
    x-model-version: 1.0
  /daas/v1/enhanceddata:
    post:
      description: Use this payload prior to a transaction to perform an Enhanced
        Data Service request for a payment card or payment token. This will be used
        by the issuer to make a more informed authorization decision.
      parameters:
      - description: The content type. Valid value (application/json).
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
        x-model-version: 1.0
      - description: "A client-generated ID for request tracking and signature creation,\
          \ unique per request. This is also used for idempotency control. Recommended\
          \ 128-bit UUID format."
        explode: false
        in: header
        name: Client-Request-Id
        required: true
        schema:
          default: Client-Request-Id
          type: string
        style: simple
        x-model-version: 1.0
      - description: API key provided to the merchant associating the requests with
          the appropriate app in the Developer Portal.
        explode: false
        in: header
        name: Api-Key
        required: true
        schema:
          default: Api-Key
          type: string
        style: simple
        x-model-version: 1.0
      - description: Epoch timestamp in milliseconds in the request from a client
          system. Used for authorization header generation and time limit (5 minutes).
        explode: false
        in: header
        name: Timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-model-version: 1.0
      - description: The Accept Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. For example en-US or
          fr-CA.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: Accept-Language
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Indicates authorization type HMAC, JWT, or AccessToken."
        explode: false
        in: header
        name: Auth-Token-Type
        required: true
        schema:
          default: Auth-Token-Type
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Authorization header used to ensure the request has not been\
          \ tampered with during transmission. Valid encryption; HMAC, JWT, or AccessToken.\
          \ For more information, refer to the supporting documentation on the Developer\
          \ Portal."
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Authorization
          type: string
        style: simple
        x-model-version: 1.0
      - description: Needed only from customer browser or app to the API in Hosted
          Payment Page requests.
        explode: false
        in: header
        name: Message-Digest
        required: false
        schema:
          default: Message-Digest
          type: string
        style: simple
        x-model-version: 1.0
      requestBody:
        content:
          application/json:
            examples:
              PaymentCard:
                $ref: '#/components/examples/PaymentCardEDSRequest'
              PaymentToken:
                $ref: '#/components/examples/PaymentTokenEDSRequest'
            schema:
              $ref: '#/components/schemas/EnhancedDataServiceRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                PaymentCard:
                  $ref: '#/components/examples/PaymentCardEDSResponse'
                PaymentToken:
                  $ref: '#/components/examples/PaymentTokenEDSResponse'
              schema:
                $ref: '#/components/schemas/EnhancedDataServiceResponse'
          description: Created
        "400":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  code: "105"
                  field: amount.currency
                  message: Invalid amount or currency
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request cannot be validated.
          x-model-version: 1.0
        "401":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: ApiKey and/or Authentication supplied are invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was unauthorized.
          x-model-version: 1.0
        "404":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
          x-model-version: 1.0
        "408":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Broken client connectivity.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was timed out due to not receiving the request
            in time.
          x-model-version: 1.0
        "415":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Media type is not supported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The media type is not supported.
          x-model-version: 1.0
        "425":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  message: The request was sent too early.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was sent too early.
          x-model-version: 1.0
        "429":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Request volume is too high.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many request were sent.
          x-model-version: 1.0
        "500":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: Error sending request to Transarmor.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected internal server error occurred.
          x-model-version: 1.0
        "503":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: APIM
                    message: Service unavailable.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The service was unavailable.
          x-model-version: 1.0
        "504":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: The request timed out while waiting for the response.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request timed out while waiting for a response.
          x-model-version: 1.0
      summary: Submit a EDS Request.
      tags:
      - Enhanced Data Definition
      x-group-name: Data Solutions
      x-proxy-name: Enhanced Data Service
      x-default-example: PaymentCard
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Enhanced Data Definition
    x-model-version: 1.0
  /daas/v1/returnoptimizer:
    post:
      description: Use this payload prior to a transaction to perform an Return Optimizer
        request for a PaymentToken. This will be used by the merchant to make a more
        informed authorization decision.
      parameters:
      - description: The content type. Valid value (application/json).
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
        x-model-version: 1.0
      - description: "A client-generated ID for request tracking and signature creation,\
          \ unique per request. This is also used for idempotency control. Recommended\
          \ 128-bit UUID format."
        explode: false
        in: header
        name: Client-Request-Id
        required: true
        schema:
          default: Client-Request-Id
          type: string
        style: simple
        x-model-version: 1.0
      - description: API key provided to the merchant associating the requests with
          the appropriate app in the Developer Portal.
        explode: false
        in: header
        name: Api-Key
        required: true
        schema:
          default: Api-Key
          type: string
        style: simple
        x-model-version: 1.0
      - description: Epoch timestamp in milliseconds in the request from a client
          system. Used for authorization header generation and time limit (5 minutes).
        explode: false
        in: header
        name: Timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-model-version: 1.0
      - description: The Accept Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. For example en-US or
          fr-CA.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: Accept-Language
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Indicates authorization type HMAC, JWT, or AccessToken."
        explode: false
        in: header
        name: Auth-Token-Type
        required: true
        schema:
          default: Auth-Token-Type
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Authorization header used to ensure the request has not been\
          \ tampered with during transmission. Valid encryption; HMAC, JWT, or AccessToken.\
          \ For more information, refer to the supporting documentation on the Developer\
          \ Portal."
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Authorization
          type: string
        style: simple
        x-model-version: 1.0
      - description: Needed only from customer browser or app to the API in Hosted
          Payment Page requests.
        explode: false
        in: header
        name: Message-Digest
        required: false
        schema:
          default: Message-Digest
          type: string
        style: simple
        x-model-version: 1.0
      requestBody:
        content:
          application/json:
            examples:
              PaymentToken:
                $ref: '#/components/examples/PaymentTokenROSRequest'
            schema:
              $ref: '#/components/schemas/ReturnOptimizerRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                PaymentToken:
                  $ref: '#/components/examples/PaymentTokenROSResponse'
              schema:
                $ref: '#/components/schemas/ReturnOptimizerResponse'
          description: Created
        "400":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  code: "105"
                  field: amount.currency
                  message: Invalid amount or currency
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request cannot be validated.
          x-model-version: 1.0
        "401":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: ApiKey and/or Authentication supplied are invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was unauthorized.
          x-model-version: 1.0
        "404":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
          x-model-version: 1.0
        "408":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Broken client connectivity.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was timed out due to not receiving the request
            in time.
          x-model-version: 1.0
        "415":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Media type is not supported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The media type is not supported.
          x-model-version: 1.0
        "425":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  message: The request was sent too early.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was sent too early.
          x-model-version: 1.0
        "429":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Request volume is too high.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many request were sent.
          x-model-version: 1.0
        "500":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: Error sending request to Transarmor.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected internal server error occurred.
          x-model-version: 1.0
        "503":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: APIM
                    message: Service unavailable.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The service was unavailable.
          x-model-version: 1.0
        "504":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: The request timed out while waiting for the response.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request timed out while waiting for a response.
          x-model-version: 1.0
      summary: Submit a ROS request.
      tags:
      - Return Optimizer Definition
      x-group-name: Data Solutions
      x-proxy-name: Return Optimization Service
      x-default-example: PaymentToken
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Return Optimizer Definition
    x-model-version: 1.0
  /payments/v1/transaction-inquiry:
    post:
      description: Provides a Commerce Hub transaction and their attributes based
        on order identifier.
      parameters:
      - description: The content type. Valid value (application/json).
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
        x-model-version: 1.0
      - description: "A client-generated ID for request tracking and signature creation,\
          \ unique per request. This is also used for idempotency control. Recommended\
          \ 128-bit UUID format."
        explode: false
        in: header
        name: Client-Request-Id
        required: true
        schema:
          default: Client-Request-Id
          type: string
        style: simple
        x-model-version: 1.0
      - description: API key provided to the merchant associating the requests with
          the appropriate app in the Developer Portal.
        explode: false
        in: header
        name: Api-Key
        required: true
        schema:
          default: Api-Key
          type: string
        style: simple
        x-model-version: 1.0
      - description: Epoch timestamp in milliseconds in the request from a client
          system. Used for authorization header generation and time limit (5 minutes).
        explode: false
        in: header
        name: Timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-model-version: 1.0
      - description: The Accept Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. For example en-US or
          fr-CA.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: Accept-Language
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Indicates authorization type HMAC, JWT, or AccessToken."
        explode: false
        in: header
        name: Auth-Token-Type
        required: true
        schema:
          default: Auth-Token-Type
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Authorization header used to ensure the request has not been\
          \ tampered with during transmission. Valid encryption; HMAC, JWT, or AccessToken.\
          \ For more information, refer to the supporting documentation on the Developer\
          \ Portal."
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Authorization
          type: string
        style: simple
        x-model-version: 1.0
      - description: Needed only from customer browser or app to the API in Hosted
          Payment Page requests.
        explode: false
        in: header
        name: Message-Digest
        required: false
        schema:
          default: Message-Digest
          type: string
        style: simple
        x-model-version: 1.0
      requestBody:
        content:
          application/json:
            examples:
              transactionId:
                $ref: '#/components/examples/TransactionInquiryRequest'
              merchantOrderId:
                $ref: '#/components/examples/TransactionInquiryByMerchantOrderIdRequest'
            schema:
              $ref: '#/components/schemas/TransactionInquiryRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                transactionId:
                  $ref: '#/components/examples/TransactionInquiryResponse'
                merchantOrderId:
                  $ref: '#/components/examples/TransactionInquiryByMerchantOrderIdResponse'
              schema:
                items:
                  $ref: '#/components/schemas/TransactionInquiryResponse'
                type: array
          description: Created
        "400":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  code: "105"
                  field: amount.currency
                  message: Invalid amount or currency
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request cannot be validated.
          x-model-version: 1.0
        "401":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: ApiKey and/or Authentication supplied are invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was unauthorized.
          x-model-version: 1.0
        "404":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
          x-model-version: 1.0
        "408":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Broken client connectivity.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was timed out due to not receiving the request
            in time.
          x-model-version: 1.0
        "415":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Media type is not supported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The media type is not supported.
          x-model-version: 1.0
        "425":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  message: The request was sent too early.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was sent too early.
          x-model-version: 1.0
        "429":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Request volume is too high.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many request were sent.
          x-model-version: 1.0
        "500":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: Error sending request to Transarmor.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected internal server error occurred.
          x-model-version: 1.0
        "503":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: APIM
                    message: Service unavailable.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The service was unavailable.
          x-model-version: 1.0
        "504":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: The request timed out while waiting for the response.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request timed out while waiting for a response.
          x-model-version: 1.0
      summary: Submit a transaction inquiry.
      tags:
      - Transaction Inquiry
      x-group-name: Payments
      x-proxy-name: Inquiry
      x-default-example: transactionId
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Transaction Inquiry
    x-model-version: 1.0
  /payments-vas/v1/security/credentials:
    post:
      description: This is the credential generation call for authorizing subsequent
        financial transactions. A valid <code>accessToken</code> is required for web
        client requests.
      parameters:
      - description: The content type. Valid value (application/json).
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
        x-model-version: 1.0
      - description: "A client-generated ID for request tracking and signature creation,\
          \ unique per request. This is also used for idempotency control. Recommended\
          \ 128-bit UUID format."
        explode: false
        in: header
        name: Client-Request-Id
        required: true
        schema:
          default: Client-Request-Id
          type: string
        style: simple
        x-model-version: 1.0
      - description: API key provided to the merchant associating the requests with
          the appropriate app in the Developer Portal.
        explode: false
        in: header
        name: Api-Key
        required: true
        schema:
          default: Api-Key
          type: string
        style: simple
        x-model-version: 1.0
      - description: Epoch timestamp in milliseconds in the request from a client
          system. Used for authorization header generation and time limit (5 minutes).
        explode: false
        in: header
        name: Timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-model-version: 1.0
      - description: The Accept Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. For example en-US or
          fr-CA.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: Accept-Language
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Indicates authorization type HMAC, JWT, or AccessToken."
        explode: false
        in: header
        name: Auth-Token-Type
        required: true
        schema:
          default: Auth-Token-Type
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Authorization header used to ensure the request has not been\
          \ tampered with during transmission. Valid encryption; HMAC, JWT, or AccessToken.\
          \ For more information, refer to the supporting documentation on the Developer\
          \ Portal."
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Authorization
          type: string
        style: simple
        x-model-version: 1.0
      - description: Needed only from customer browser or app to the API in Hosted
          Payment Page requests.
        explode: false
        in: header
        name: Message-Digest
        required: false
        schema:
          default: Message-Digest
          type: string
        style: simple
        x-model-version: 1.0
      requestBody:
        content:
          application/json:
            examples:
              Credentials:
                $ref: '#/components/examples/SecurityCredentialsRequest'
            schema:
              $ref: '#/components/schemas/SecurityCredentialsRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Credentials:
                  $ref: '#/components/examples/SecurityCredentialsResponse'
              schema:
                $ref: '#/components/schemas/SecurityCredentialsResponse'
          description: Created
        "400":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  code: "105"
                  field: amount.currency
                  message: Invalid amount or currency
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request cannot be validated.
          x-model-version: 1.0
        "401":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: ApiKey and/or Authentication supplied are invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was unauthorized.
          x-model-version: 1.0
        "404":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
          x-model-version: 1.0
        "408":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Broken client connectivity.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was timed out due to not receiving the request
            in time.
          x-model-version: 1.0
        "415":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Media type is not supported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The media type is not supported.
          x-model-version: 1.0
        "425":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: GATEWAY
                  message: The request was sent too early.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request was sent too early.
          x-model-version: 1.0
        "429":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                error:
                - type: APIM
                  message: Request volume is too high.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many request were sent.
          x-model-version: 1.0
        "500":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: Error sending request to Transarmor.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected internal server error occurred.
          x-model-version: 1.0
        "503":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: APIM
                    message: Service unavailable.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The service was unavailable.
          x-model-version: 1.0
        "504":
          content:
            application/json:
              example:
                gatewayResponse:
                  transactionProcessingDetails:
                    apiTraceId: 7027b61dbf7645399d204dbfa0de0870
                    clientRequestId: 9bb0664a21fc48e3a1cef1f067fced3f
                  error:
                  - type: GATEWAY
                    message: The request timed out while waiting for the response.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request timed out while waiting for a response.
          x-model-version: 1.0
      summary: Request security credentials (access token).
      tags:
      - Payment Security Endpoint
      x-group-name: Security
      x-proxy-name: Credentials
      x-default-example: Credentials
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Payment Security Endpoint
    x-model-version: 1.0
  /payments-vas/v1/accounts/information-lookup:
    post:
      description: "Use this to look up card related information such as issuer country,\
        \ card function and card brand associated with a card or token."
      parameters:
      - description: The content type. Valid value (application/json).
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
        x-model-version: 1.0
      - description: "A client-generated ID for request tracking and signature creation,\
          \ unique per request. This is also used for idempotency control. Recommended\
          \ 128-bit UUID format."
        explode: false
        in: header
        name: Client-Request-Id
        required: true
        schema:
          default: Client-Request-Id
          type: string
        style: simple
        x-model-version: 1.0
      - description: API key provided to the merchant associating the requests with
          the appropriate app in the Developer Portal.
        explode: false
        in: header
        name: Api-Key
        required: true
        schema:
          default: Api-Key
          type: string
        style: simple
        x-model-version: 1.0
      - description: Epoch timestamp in milliseconds in the request from a client
          system. Used for authorization header generation and time limit (5 minutes).
        explode: false
        in: header
        name: Timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-model-version: 1.0
      - description: The Accept Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. For example en-US or
          fr-CA.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: Accept-Language
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Indicates authorization type HMAC, JWT, or AccessToken."
        explode: false
        in: header
        name: Auth-Token-Type
        required: true
        schema:
          default: Auth-Token-Type
          type: string
        style: simple
        x-model-version: 1.0
      - description: "Authorization header used to ensure the request has not been\
          \ tampered with during transmission. Valid encryption; HMAC, JWT, or AccessToken.\
          \ For more information, refer to the supporting documentation on the Developer\
          \ Portal."
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Authorization
          type: string
        style: simple
        x-model-version: 1.0
      - description: Needed only from customer browser or app to the API in Hosted
          Payment Page requests.
        explode: false
        in: header
        name: Message-Digest
        required: false
        schema:
          default: Message-Digest
          type: string
        style: simple
        x-model-version: 1.0
      requestBody:
        content:
          application/json:
            examples:
              PaymentCard:
                $ref: '#/components/examples/PaymentCardInfoRequest'
              PaymentEMV:
                $ref: '#/components/examples/PaymentEMVInfoRequest'
              PaymentTrack:
                $ref: '#/components/examples/PaymentTrackInfoRequest'
              ManualEntry:
                $ref: '#/components/examples/ManualEntryInfoRequest'
              PaymentToken:
                $ref: '#/components/examples/PaymentTokenInfoRequest'
            schema:
              $ref: '#/components/schemas/AccountInformationRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                PaymentCard:
                  $ref: '#/components/examples/PaymentCardInfoResponse'
                PaymentEMV:
                  $ref: '#/components/examples/PaymentEMVInfoResponse'
                PaymentTrack:
                  $ref: '#/components/examples/PaymentTrackInfoResponse'
                ManualEntry:
                  $ref: '#/components/examples/ManualEntryInfoResponse'
                PaymentToken:
                  $ref: '#/components/examples/PaymentTokenInfoResponse'
              schema:
[...]
